page-login {
  .bg-image{
    background-image: url('../../assets/imgs/images/hoteldesk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }
}
